{% extends 'common/base.html' %}

{% block main %}

<div class="container">
  <h2>Profiling: {{document.appName}} {{document.appId}}</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Services</div>
    <p>bubble plot here?</p>
    {% include 'singleApp/services_partial.html' with document=document %}
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profiling results</div>
    <p>radar chart here</p>
    {% include 'singleApp/profiling_partial.html' with document=document %}
  </div>
</div>

{% endblock main %}
