[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"
python_full_version = "3.6.3"


[packages]

nanotime = "*"
influxdb = "*"
pymongo = "*"
numpy = "*"
pandas = "*"
gunicorn = "*"
gevent = "*"
werkzeug = "*"
flask = "*"
scikit-learn = "*"
scipy = "*"
bayesian-optimization = "*"
rollbar = "*"
blinker = "*"
schedule = "*"
