@font-face
  font-family: WorkSans
  font-style: normal
  font-weight: 400
  src: url(../assets/fonts/WorkSans-Regular.woff2) format("woff2")

*
  font-family: WorkSans

.container
  position: relative
  margin: 0 auto
  max-width: 1152px
  width: 1152px

a
  text-decoration: none

.left
  margin-right: auto

.right
  margin-left: auto

.center
  margin-left: auto
  margin-right: auto

.columns
  display: flex
  flex-direction: row

  .column:not(:first-child)
    margin-left: 1rem
  .column:not(:last-child)
    margin-right: 1rem
