.navbar
  height: 60px
  background-color: $color-light
  border-bottom: 3px solid $color-blue

  .container
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

  .navbar-item
    height: 65%

    .brand
      width: auto
      border-radius: 0.3em

    input[type=search]
      width: 400px
      height: 100%
      border-radius: 100px
      border: solid 1px $color-blue
      background-color: $color-light

      &::placeholder
        font-family: WorkSans
        font-size: 15px
        padding-left: 36px
        height: 21px
        letter-spacing: 0.5px
        color: $color-blue
 
  .nav-sublist
    display: flex

    .navbar-item:not(:first-child)
      margin-left: 0.25rem
    .navbar-item:not(:last-child)
      margin-right: 0.25rem

.menu-icon, .user-icon
  width: 40px
  height: 40px

.header
  height: 60px
  background-color: $color-dark

  .container
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%

.current-location
  letter-spacing: 1.5px
  font-size: 16px
  height: 19px
  color: $color-white

button.settings-button
  letter-spacing: 1.5px
  padding: 0.5rem 0.75rem

.placehold-settings-icon
  border: 2px solid $color-blue
  padding: 0 8px
  margin-right: 10px


.subnav
  height: 45px
  margin-top: 5px
  border-bottom: 1px solid $color-divider

  .container
    display: flex
    justify-content: flex-start
    align-items: center
    height: 100%

  .nav-item
    height: 100%
    display: flex
    align-items: center

    a
      letter-spacing: 0.5px

    &:not(:first-child)
      margin-left: 15px

    &:not(:last-child)
      margin-right: 15px

    &:not(.selected) a
      color: $color-grey

    &.selected
      box-sizing: border-box
      border-bottom: 3px solid $color-blue
      a
        color: $color-blue
