.navbar
  height: 60px
  background-color: #f7f9fc

  .container
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

  .nav-left
    margin-right: auto

  .nav-right
    margin-left: auto

  .nav-center
    margin: 0 auto

  .navbar-item .brand
    height: 65%
    width: auto
    border-radius: 0.3em

  .navbar-item input[type=search]
    width: 400px
    height: 65%
    border-radius: 100px
    border: solid 1px #748ffc
    background-color: #f7f9fc

    &::placeholder
      padding-left: 36px
      color: #748ffc
      height: 21px
      font-size: 15px
      font-family: WorkSans
      letter-spacing: 0.5px
 
  .nav-sublist
    display: flex
    .navbar-item
      padding: 0 0.5rem

.divider
  width: 100%
  height: 0
  border-bottom: 3px solid #748ffc

.header
  height: 60px
  background-color: #1c293c

  .container
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%

.current-location
  letter-spacing: 1.5px
  font-size: 16px
  height: 19px
  color: white

.settings-button
  padding: 5px 10px
  border-radius: 4px
  background-color: #273750
  border: solid 1px #748ffc
  letter-spacing: 1.5px
  color: #748ffc

.placehold-settings-icon
  border: 2px solid #748ffc
  padding: 0 8px
  margin-right: 10px


.subnav
  height: 40px
  margin-top: 5px

  .container
    display: flex
    justify-content: flex-start
    align-items: center
    height: 100%

  .nav-item
    height: 100%
    display: flex
    align-items: center

    a
      letter-spacing: 0.5px

    &:not(:first-child)
      margin-left: 15px

    &:not(:last-child)
      margin-right: 15px

    &:not(.selected) a
      color: #888998

    &.selected
      box-sizing: border-box
      border-bottom: 3px solid #748ffc
      a
        color: #5677fa
