


.userauth
  background-color: $color-dark
  height: 100%


.authBox
	width: 516px
	height: 309px
	border-radius: 4px
	background-color: $background-info
	border: solid 2px #5677fa
  top: 50%
  left: 50%
  position: absolute
  margin-left: 150px
  margin-top: 100px

 .userinput
   text-align: center
   margin-top: 10rem
   margin-left: 2rem
   width: 80%
   height: 80%




input[type=text], select
    width: 100%
    padding: 12px 20px
    margin: 8px 0
    display: inline-block
    border:  solid 1px $color-white
    background-color: $background-info
    border-radius: 4px
    outline: none
