$color-white: #fff
$color-grey: #888998
$color-light-grey: #b9bacb
$color-dark-grey: #606175
$color-light: #f7f9fc
$color-dark: #1c293c
$color-blue: #748ffc
$color-divider: #eef0fa
$color-primary: #5677fa
$color-success: #7ed321
$background-success: #daf9b8
$color-danger: #ff8686
$background-danger: #fbc2c2
$colors: (success: ($color-success, $background-success), danger: ($color-danger, $background-danger))
